body {
    background-color: #0C0C0C;
    font-family: 'MiFuentePersonalizada', sans-serif; 
    margin: 0px;
    gap: 48px;
    
}

@font-face {
    font-family: 'Espoir'; 
    src: url('Fonts/espoir-regular-webfont.woff2') format('woff2'), /* Ruta al archivo WOFF2 */
         url('Fonts/espoir-regular-webfont.woff') format('woff'),  /* Ruta al archivo WOFF */
         
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Espoir' ;
    font-weight: 400;
    letter-spacing: 15px;
    color: #D9D9D9; 
    text-align: center;
    font-size: 48px;
}

.divider-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.linea-izquierda, .linea-derecha {
    flex-grow: 1; 
    border: none;
    border-top: 1px solid #D9D9D9; 
    margin: 10px; 
}

.punto-central {
    width: 8px; 
    height: 8px;
    background-color: #D9D9D9; 
    border-radius: 50%; 
    flex-shrink: 0; 
}

.contenedor-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px; 
    text-align: center;
}

.contenedor-imagen img{
    width: 100%;
    height: 662px;
    margin-bottom: 15px;
}

.contenedor-imagen p{
    color: #D9D9D9;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 18px;
    max-width: 1300px;
    width: 100%;
    line-height: 1.8;
    margin: 0;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 95px;
}

.contenedor1, .contenedor2 {
    display: flex;
    gap: 48px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px
}

.diseño-web, .diseño-movil, .otros, .texto {
    flex: 1; 
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diseño-web img, .diseño-movil img, .otros img {
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
}

.diseño-web p, .diseño-movil p, .otros p, .texto p{
    color: #D9D9D9;
    font-size: 18px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.texto {
    justify-content: flex-start; 
    align-items: flex-start;
    text-align: left;
}

a{
  color: #D9D9D9;
}

